.admin .budgets-actions {
  $gap: $line-height;
  @include flex-with-gap($gap);
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: $line-height;
  margin-top: -$gap;

  > * {
    margin-top: $gap;
  }

  a,
  button {
    margin-bottom: 0;
  }

  button {
    cursor: pointer;

    &:focus {
      outline: $outline-focus;
    }
  }

  .delete {
    cursor: pointer;
  }

  .calculate-winners-link {
    @include hollow-button;
    margin-bottom: 0;
  }
}
