.admin .drafting {
  margin-bottom: $line-height * 1.5;
  margin-left: auto;

  @include breakpoint(large) {
    align-items: flex-start;
    display: flex;

    .callout {
      flex: 1;
      margin-bottom: 0;
    }
  }

  @include breakpoint(small medium only) {
    text-align: right;

    .callout {
      text-align: left;
    }
  }

  .publish-link {
    @include regular-button;
    margin-bottom: 0;
    margin-left: $line-height / 2;
  }
}
